<div class="container errorPage">
    <h1>404</h1>
    <p>Oops! <%= errorMessage%>
    </p>
    <div>
        <a href="/" class="btn btn-outline-primary">Go to Home</a>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
            Register
        </button>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
            Login
        </button>

    </div>
</div>