<div class="container shadow-sm p-0">
    <img src="images/jobDetail.png" class="w-100" alt="" style="height: 150px;">
    <div class="container pb-2">

        <div class="m-2">
            <h3><span class="text-danger">Frontend Developer</span> oppertunity in Delhi at Coding Ninjas</h3>
        </div>
        <div class="m-4">
            <h2 class="text-primary">Coding Ninjas</h2>
            <h4 class="text-success">Frontend Developer</h4>
            <div class="px-2">
                <p class="m-0"><i class="bi bi-geo-alt-fill"></i> Delhi</p>
                <p class="m-0"><i class="bi bi-currency-rupee"></i> 6LPA</p>
                <p class="m-0"><i class="bi bi-hourglass-split"></i> Apply By 1 June 2024</p>
                <p class="m-0"><i class="bi bi-bar-chart-line-fill"></i> Openings 5</p>
                <p class="m-0"><i class="bi bi-people-fill text-danger"></i> Applicants 10</p>
                <div class="d-flex flex-wrap m-2">
                    <span class="skill">HTML</span>
                    <span class="skill">css</span>
                    <span class="skill">Js</span>
                    <span class="skill">Nodejs</span>
                    <span class="skill">HTML</span>
                    <span class="skill">css</span>
                    <span class="skill">Js</span>
                    <span class="skill">Nodejs</span>
                </div>
                <a href="" class="btn btn-primary my-3">Apply Now</a>
            </div>
        </div>
    </div>
</div>