<div class="row welcome-container">
    <div class="col d-flex justify-content-center align-items-center">
        <img src="/images/welcome3.jpeg" class="img-fluid h-50" alt="Responsive image">
    </div>
    <div class="col d-flex flex-column justify-content-center">
        <h1 class="text-primary">The place where</h1>
        <h5>Givers and Getters meet</h5>
        <p class="text-success">Regarding JOBS</p>
        <div class="w-50 d-flex justify-content-evenly">
            <!-- <a class="btn btn-primary" href="#" role="button">Givers</a> -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
                Givers
            </button>
            <a class="btn btn-primary" href="/jobs" role="button">Getters</a>
        </div>

    </div>
</div>